@font-face {
    font-family: 'ProximaNova Regular';
    src: url("../../proxima-nova/Proxima Nova Regular.otf") format("opentype");
}

@font-face {
    font-family: 'ProximaNova SemiBold';
    font-weight: bold;
    src: url("../../proxima-nova/ProximaNova-Sbold.otf") format("opentype");
}

@font-face {
    font-family: 'ProximaNova Bold600';
    font-weight: 600;
    src: url("../../proxima-nova/ProximaNova-Sbold.otf") format("opentype");
}

@font-face {
    font-family: 'ProximaNova Bold';
    font-weight: 800;
    src: url("../../proxima-nova/ProximaNova-Bold.otf") format("opentype");
}

@font-face {
    font-family: 'ProximaNova Thin';
    src: url("../../proxima-nova/ProximaNova-Thin.otf") format("opentype");
}
