/***************************
****************************
Body
****************************
***************************/
$body-width: 1366px;
$body-height: 768px;
$background-color: #f2f4f5;
$font: ProximaNova Regular;
$blue-grey-40: rgba(130, 146, 162, 0.4);
$color-divider: #cad4da;
$font-size: 14px;
/***************************
****************************
Header
****************************
***************************/
$header-height: 63px;
$top-padding: 23px;
/***************************
****************************
Input
****************************
***************************/
$input-background-color: 63px;
$input-border: solid 1px #d0d5dc;
$input-height: 36px;
$placeholder: #cccccc;